

#slider {		

	background: #fff url(../images/loading.gif) center center no-repeat;
	z-index: 10;
	left:-5px;
	top:10px;
	
	width: 100%;
	
  
	
}

.slider3d {
	width: 1290px !important;
	height: 400px !important;
	margin: 0;
	left:0%;
	
	
}

.slider2d {
	width: 100%;
	height: 400px;	

	width: 100%;
}





a.slider-nav {	
	width: 35px;
	height: 34px;
	top: 50%;
	margin-top: -17px;		
}

.slider-nav.prev {
	background: url(../images/left-arrow.png) no-repeat;

   
}

.slider-nav.next {
	background: url(../images/small-right-arrow.png) no-repeat;
	
}

.slider-timer {
	width: 50px;
	height: 50px;		
	left: 50%;
	margin-left: -25px;
	top: 80%;
	margin-top: -25px;	
}

.slider-timer.play {
	background: url(../images/play.png) no-repeat;
}

.slider-timer.pause {
	background: url(../images/pause.png) no-repeat;
}

.slider3d .control-links {
	bottom: 0;
}

.slider2d .control-links {
	bottom: -50px;
}

.control-links li {    
    margin-left: 5px;
    cursor: pointer;    
    background: url(../images/link-bg.png) no-repeat;
    width: 10px;
    height: 11px;
	text-indent: -99999px;
}

.control-links li.active {
    background: url(../images/link-active.png) no-repeat;
}

.slider-caption {

background: -webkit-linear-gradient(top, rgba(140,196,0,1) 0%,rgba(140,196,0,1) 100%);
}

.slider-caption a {
	color: #2D6294;
}

